// 
// Footer
// 

footer {
    background: $white;
    padding: clamp(40px, 5vw, 80px) 20px;

    .footer-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 24px;
        @media (max-width:768px) {
            justify-content: stretch;
            gap: 16px;
        }

    }

    .footer-group{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 24px;


        
        @media (max-width:768px) {
            gap: 16px;
        }

    }
    .footer-column {
        text-align: left;

        @media (max-width:570px) {
            min-width: auto;   
            &:first-child{
                // width: 145px;
            }
        }


        li {
            font-family: 'NexaRegular';
            color: #3F7679;
            padding-bottom: 20px;
            font-size: 14px;
            
            @media (max-width: 768px) {
                font-size: 14px;
            }
            
            &.title {
                font-size: 16px;
                color: $black-typo;
                font-family: 'NexaHeavy';
            }
            &.redes {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 24px;
                
                @media (max-width:768px) {
                    padding-top: clamp(40px, 5vw, 80px);
                    justify-content: center;
                }
            }
        }

        &.last {
            // width: 325px;
            text-align: right;
            margin-left: auto;
            @media (max-width:768px) {
                text-align: left;
                width: 100%;

                img{
                    display: block;
                    width: 100%;
                    max-width: 268px;
                    
                    @media (max-width:768px) {
                        max-width: 335px;
                    }
                }
            }

            .direccion {
                font-family: 'NexaHeavy';
            }

            .mail {
                font-family: 'NexaHeavy';
            }
        }
    }
}