// 
// Home
// 

#one {
    overflow: hidden;
    position: relative;
    .fullwidth-container {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column; 
        transform: translate(0px, 250px);
        @media (max-width:768px) {
            transform: translate(0px, 150px);
        }
    }
    .logo {
        width: clamp(250px, 70%, 400px);
        // padding-top: 8rem;
        @media (max-width:768px) {
           padding-bottom: 1.5rem;
        }
        img{
            width: 100%;
        }
    }


    h1{
        text-align: center;
        color: $white;
        transition: opacity 0.5s ease;    
        font-family: 'NexaBook';
        font-weight: 400;
        font-size: clamp(28px, 4vw, 60px);

        strong {
            display: block;
            text-align: center;
            font-size: clamp(48px, 5vw, 100px);
            font-family: 'NexaSlabxBold';
            margin-top: 10px;
            margin-bottom: 0px;
        }
        &.scroll-transition {
            position: absolute;
            bottom: 87px;
            transition: none;
            top: auto;
        }

        &.anm_heading_title_1{
            opacity: 0;
        }
        &.anm_heading_title_2{
            opacity: 0;
            padding-top: 12rem;
            position: absolute;   
            @media (max-width:768px) {
                padding-top: 0rem;
            }        
        }
    }

    &.parallax__layer_hero {
        position: relative;
        height: 2300px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        // @media (max-width:768px) {
        //     height: 1200px;
        // } 

        .parallax__image_hero {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            img,
            .image_hero {
                object-fit: cover;
                width: 100%;
                height: 150%;
            }
        }
    }

}


#two {
    padding: clamp(130px, 8vw, 210px) clamp(20px, 7vw, 30px);
    min-height: 100vh;
    background: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // place-content: center;
    flex-direction: column;

    h3 {
        text-align: center;
        font-size: clamp(28px, 3vw, 32px);
        font-family: 'NexaBlack';
        color: $black-typo;
        margin-bottom: 6vw;
    }

    .partners {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s ease-in-out;
        .opt {
            display: none;
            min-height: 450px;

            h3 {
                font-size: clamp(30px, 20vw, 70px);
                color: #2C3947;
                font-family: 'NexaBook';
                margin-bottom: 40px;
                margin-top: 87px;
            }

            p {
                font-size: clamp(18px, 4vw, 20px);
                color: #2C3947;
                font-family: 'NexaBook';
                max-width: 722px;
                text-align: center;
                margin: 0 auto;
            }

            a {
                text-align: center;
                display: block;
                width: fit-content;
                margin: 0 auto;
                margin-top: clamp(60px, 5vw, 90px);
                color: $green;
                font-family: 'NexaHeavy';
                font-size: 20px;
                text-decoration: none;
                transition: all .2s ease;

                &:hover,&:active{
                    color: $dark-green;
                }
            }
        }

        ul {
            // margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 7px;
            width: 100%;
            max-width: 800px;

            li {
                flex: 1 0 0;
                font-size: clamp(15px, 3vw, 18px);
                font-family: 'NexaBold';
                color: $dark-green;
                width: auto;
                text-align: center;
                padding: 15px ;
                cursor: pointer;
                border-radius: 30px;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $dark-green
                }

                &.active {
                    background: $green;
                    color: $white;
                }

                &:hover {
                    background: rgb(62 117 120 / 50%);
                    color: $dark-green;

                    &.active {
                        background: $green;
                        color: $white;
                    }
                }

                span {
                    display: block;
                    font-family: 'NexaBold';
                }
            }
        }
    }

}

#three {
    display: flex;
    align-items: center;
    justify-content: center;

    &.parallax__layer_three {
        position: relative;
        height: 963px;
        .parallax__image_three {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            img, .image_three {
                object-fit: cover;
                width: 100%;
                height: 100%;
                }   
            }
    }
    h3 {
        font-size: clamp(45px, 10vw, 50px);
        font-family: 'NexaLight';
        font-weight: 300;
        text-align: center;
        color: $white;

        br{
            display: none;
            @media (max-width:768px) {
                display: block;
            }
        }

        strong {
            display: block;
            font-family: 'NexaSlabBlack';
        }
    }

    a.btn {
        font-size: 20px;
        font-family: 'NexaBold';
        color: $white;
        padding: 20px;
        text-decoration: none;
        background-color: $green;
        border-radius: 30px;
        display: table;
        margin: 0 auto;
        text-align: center;
        width: clamp(335px, 80vw, 277px);
        transition: background-color .2s ease;

        &:hover, &:active{
            background-color: $dark-green;
        }
        
        @media (max-width:768px) {
            padding: 20px ;
        }
    }
}

#four {
    background: #F2F2F2;
    padding: clamp(49px, 8vw, 184px) clamp(20px, 5vw, 64px);

    h3 {
        color: $black-typo;
        font-size: 32px;
        font-family: 'NexaBlack';
        text-align: center;
        margin-bottom: clamp(52px, 6vw, 112px);
    }

    a {
        text-align: center;
        display: block;
        color: $green;
        font-family: 'NexaHeavy';
        font-size: 20px;
        text-decoration: none;
        width: fit-content;
        margin: 0 auto;
        margin-top: 90px;
        transition: background-color .2s ease;

        &:hover,&:active{
            color: $dark-green;
        }
    }

    .servicios-boxes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 40px;
        @media (max-width:1400px) {
            flex-direction: column;
        }
        @media (max-width:768px) {
            gap: 82px;
        }

        .box {
            color: $green;
            font-family: 'NexaSlabBook';
            max-width: 392px;
            font-size: clamp(50px, 12vw, 60px);
            text-align: center;

            span {
                color: $dark-green;
                display: block;
                font-family: 'NexaLight';
                font-size: clamp(40px, 8vw, 50px);
                max-width: 352px;
                margin: 0 auto;
            }

            p {
                font-size: 24px;
                color: #2C3947;
                font-family: 'NexaRegular';
                padding: 0px;
                line-height: 1;
            }
        }
    }
}

#five {
    padding: clamp(50px, 8vw, 129px) clamp(20px, 7vw, 76px);
    padding-bottom: 270px;
    min-height: 100vh;
    max-height: 880px;
    position: relative;
    background-color: $white;
    overflow: hidden;

    h3 {
        font-size: 32px;
        font-family: 'NexaBlack';
        color: $black-typo;
        text-align: center;
        margin-top: 0;
        margin-bottom: clamp(50px, 4vw, 112px);
    }

    .img-insights-desk {
        position: absolute;
        z-index: 1;
        display: block;
        right: 0;
        top: 120px;

        @media (max-width:768px) {
            display: none;
        }
    }

    .img-insights-mob {
        position: absolute;
        z-index: 1;
        display: none;
        right: 0;
        bottom: -2px;

        @media (max-width:768px) {
            display: block;
        }
    }


    .left {
        width: 100%;
        max-width: 644px;
        position: relative;
        z-index: 5;

        h4 {
            font-size: clamp(50px, 10vw, 60px);
            line-height: 1;
            font-family: "NexaExtraLight";
            margin-bottom: 20px;
            color: #2C3947;

            @media (max-width:768px) {
                text-align: center;
            }

            strong {
                font-size: clamp(40px, 6vw, 50px);
                font-family: 'NexaHeavy';
            }
        }

        p {
            font-family: 'NexaRegular';
            font-size: clamp(18px, 2.2vw, 24px);

            
            @media (max-width:768px) {
                text-align: center;
            }
        }

        a {
            display: block;
            color: $green;
            font-family: 'NexaHeavy';
            font-size: 20px;
            text-decoration: none;
            width: fit-content;
            margin-right: 0 auto;
            margin-top: 40px;
            transition: color .2s ease;
            color: $dark-green;

    
            &:hover,&:active{
                color: $dark-green;
            }
            
            @media (max-width:768px) {
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    }
}

#six {
    padding: 8vw 0;
    min-height: 100vh;
    max-height: 880px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    place-content: center;
    overflow-x: hidden;

    h3 {
        font-size: 32px;
        color: $black-typo;
        font-family: 'NexaBlack';
        text-align: center;
        margin-bottom: clamp(80px, 10vw,112px);

        br{
            display: none;

            @media (max-width:768px) {
                display: block;
            }
        }
    }
    .slick-container{
        position: relative;
        height: 400px;
        @media (max-width:768px) {
            height: 100%;
        }


        &__overlay{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 130%;
            display: block;

            @media (max-width:768px) {
                position: relative;
                left: 0;
                top: 0;
                transform: translateX(0);
                width: 100%;
            }
        }
    }
}
