@import '../variables/colors';

.service-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: clamp(60px, 7vw, 170px) 0 30px 0 ;

    &:nth-child(even){
        background-color: #fff;

        .dropdown__label{background-color: #fff;}
    }
    &:nth-child(odd){
        background-color: #F2F2F2;

        .dropdown__label{background-color: #f2f2f2;}
    }

    .heading-services{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
        margin: 0 auto;
        margin-bottom: clamp(35px, 7vw, 90px);

        h4{
            font-family: 'NexaBlack';
            color: $black-typo;
            font-size: clamp(28px, 3vw, 32px);
            text-align: center;
        }
        h2{
            font-family: "NexaExtraLight";
            font-size: clamp(30px, 4vw, 50px);
            color: $black-typo;
            text-align: center;
            line-height: .8;
            font-weight: 200;

            strong{
                font-family: "NexaSlabBold";
                color: $green;
                font-size: clamp(40px, 5vw, 70px);

            }
        }
        p{
            color: $black-typo;
            font-family: "NexaBook";
            font-size: clamp(18px, 2vw, 20px);
            text-align: center;
        }
    }
}


.dropdown{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: relative;

    &__label{
        width: 100%;
        background-color: inherit;
        position: relative;
        z-index: 2;
        padding: 0 20px;

        div{
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 10px;
            border-top: 1px solid #ccc;
            cursor: pointer;
            width: 100%;
            min-width: 70vw;
            max-width: 1000px;
        }
        
        span{
            flex: 1 0 0;
            display: inline-block;
            margin-right: 15px;
            font-family: "NexaHeavy";
            font-size: clamp(20px, 3.5vw, 40px);
            color: $dark-green;
            text-align: center;
        }

        img{
            width: clamp(14px, 2vw, 18px);
            transform: rotate(90deg);
            transition: all .2s ease-in-out;
        }
    }
    &__content{
        width: 100%;
        transition: all .2s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
        gap: 40px;
        padding: clamp(30px, 5vw, 70px) 0;
        position: absolute;
        z-index: -1;

        transform: translateY(-100%);
        opacity: 0;
        transition: all .4s ease;

        &--img{
            // flex: 1 0 0;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            overflow: hidden;

            @media (max-width:786px) {
                display: none;
            }

            img{
                height: 100%;
            }
        }
        &--list{
            // flex: 1 0 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            @media (max-width:786px) {
                flex: 1 0 0 ;
            }


            .list-dropdown-item{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                max-width: 480px;
                margin-bottom: 15px;
                
                @media (max-width:786px) {
                    max-width: 100%;
                }

                &__icon{
                    padding: 10px;
                    padding-top: 5px;

                    span{
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $dark-green;
                    }
                }
                &__text{
                    font-size: 18px;
                    font-family: "NexaRegular";
                    color: $dark-green;

                    strong{
                        display: block;
                        font-family: "NexaHeavy";
                        color: $black-typo;
                    }
                }
            }
        }
    }
    .justify-end{justify-content: flex-end;
        @media (max-width:786px) {
            justify-content: center;
        }
    }
    .justify-start{justify-content: flex-start;
        @media (max-width:786px) {
            justify-content: center;
        }
    }
    .align-start{align-items: flex-start;
        @media (max-width:786px) {
            align-items: center;
        }
    }
    .align-end{align-items: flex-end;
        @media (max-width:786px) {
            align-items: center;
        }
    }
}

.dropdown.active{
    .dropdown__label{
        img{
            transform: rotate(-90deg);
        }
    }
    .dropdown__content{
        position: relative;
        transform: translateY(0);
        z-index: 1;
        opacity: 1;
    }
}

#red-global{
    padding-top: clamp(50px, 6vw, 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 73px;
    width: 100%;
    
    @media (max-width:786px) {
        padding-bottom: 40px;
        gap: 0;
    }
    .heading-services{
        margin-bottom: 0;
        h2{
            line-height: 1.1;
        }
        p{
            max-width: 820px;
            margin-bottom: 0;
        }
    }


    .nuestra-red-slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0px;
        position: relative;
        max-width: 938px;
        padding: 0 20px;

        @media (max-width:786px) {
            padding: 0;
        }


        &__box-1{
            flex: 1 0 60%;
            max-width: 489px;

            @media (max-width:786px) {
                display: none;
            }
            
            img{
                width: 100%;
            }
        }
        &__box-2{
            flex: 1 0 40%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 145px;
            overflow: hidden;
            
            @media (max-width:786px) {
                gap: 0;
                flex: none;
                width: 100%;
                max-width: 100%;
            }

            &--img-desk{
                display: block;
                padding-left: 50px;
                width: 230px;

                @media (max-width:786px) {
                    display: none;
                }
            }
            &--img-mob{
                display: none;
                max-width: 450px;

                width: 120%;

                @media (max-width:786px) {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        &__slider{
            // position: absolute;
            // top: 21%;
            // right: 7vw;
            width: 100%;
            max-width: 500px;
            @media (max-width:786px) {
                max-width: 100%;
                top: 105%;
                left: 0;
                padding: 0 5px;
            }

            .modern-slider{
                .slick-slide {
                  /* Ajusta el ancho de los slides según la cantidad de slides que deseas mostrar y el espacio entre ellos */
                     margin: 0 50px;
                    overflow: hidden;


                    @media (max-width:786px) {
                        width: 100%;
                        top: 105%;
                        left: 0;
                        margin: 0 28px;
                    }
                }
                .next-arrow-redlatam{
                    right: 0;
                    @media (max-width:768px) {
                        top: 10%;
                      }
                }
                .prev-arrow-redlatam{

                    left: 0;
                    @media (max-width:768px) {
                        top: 10%;
                      }
                }
            }

            &--slide{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                text-align: left;

                strong{
                    font-size: clamp(16px, 2vw, 20px);
                    font-family: 'NexaHeavy';
                    font-weight: 900;
                    color: $black-typo;
                }
                h4{
                    font-size: clamp(25px, 3vw, 35px);
                    font-family: "NexaLight";
                    font-weight: 300;
                    color: $dark-green;
                    margin-top: 15px;
                    margin-bottom: clamp(10px, 3vw , 30px);
                }
                p{
                    font-size: clamp(16px, 2vw, 20px);
                    font-weight: 400;
                    font-family: 'NexaBook';
                    margin: 0;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    color: $green;
                    font-family: 'NexaHeavy';
                    font-size: clamp(16px,2vw, 20px);
                    text-decoration: none;
                    width: fit-content;
                    margin-right: auto;
                    margin-top: 0;
                    transition: color .2s ease;
                    cursor: pointer;
            
                    &:hover,&:active{
                        color: $dark-green;
                    }
                }
            }
        }

    }
}