// 
// Global
// 

ul {
    padding: 0px;
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    transition: all 1s;
    font-size: 10px;
}

html {
    transition: all 1s;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}


.line-clamp-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-5 {
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.bg-primary {
    background: #2C3947;
}


.bg-secondary {
    background: #3E7578;
}


// 
// Margin
// 

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    ) !default;

@each $name, $size in $spacers {
    .m-#{$name} {
        margin: $size !important;
    }

    .mt-#{$name} {
        margin-top: $size !important;
    }

    .my-#{$name} {
        margin-top: $size !important;
        margin-bottom: $size !important;
    }
}