// 
// Typography
// 

@font-face {
    font-family: "NexaBook";
    font-weight: 400;
    src: local("NexaBook"), url("../fonts/Nexa-Book.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBold";
    font-weight: 700;
    src:
        local("NexaSlabBold"),
        url("../fonts/NexaSlabBlack.ttf") format("opentype");
}

@font-face {
    font-family: "NexaExtraLight";
    font-weight: 300;
    src:
        local("NexaExtraLight"),
        url("../fonts/Nexa-ExtraLight.ttf") format("opentype");
}

@font-face {
    font-family: "NexaLight";
    font-weight: 300;
    src:
        local("NexaLight"),
        url("../fonts/Nexa-Light.otf") format("opentype");
}

@font-face {
    font-family: "NexaRegular";
    font-weight: 400;
    src:
        local("NexaRegular"),
        url("../fonts/NexaRegular.otf") format("opentype");
}

@font-face {
    font-family: "NexaBold";
    font-weight: 700;
    src:
        local("NexaBold"),
        url("../fonts/Nexa-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NexaBlack";
    font-weight: 400;
    src:
        local("NexaBlack"),
        url("../fonts/NexaBlack.otf") format("opentype");
}

@font-face {
    font-family: "NexaHeavy";
    font-weight: 700;
    src:
        local("NexaHeavy"),
        url("../fonts/NexaHeavy.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBook";
    src:
        local("NexaSlabBook"),
        url("../fonts/NexaSlab-Book.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBlack";
    src:
        local("NexaSlabBlack"),
        url("../fonts/NexaSlabBlack.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabxBold";
    font-weight: 700;
    src:
        local("NexaSlabxBold"),
        url("../fonts/NexaSlab-xBold.otf") format("opentype");
}
// @font-face {
//     font-family: "NexaBoldItalic";
//     font-weight: 700;
//     src:
//         local("NexaBoldItalic"),
//         url("../fonts/NexaBoldItalic.ttf") format("opentype");
// }
// @font-face {
//     font-family: "NexaThinItalic";
//     font-weight: 300;
//     src:
//         local("NexaThinItalic"),
//         url("../fonts/NexaThinItalic.ttf") format("opentype");
// }