
.red-global-svg{
    width: 100%;
    max-width: 803px;
    height: 100%;
}
.svg-mexico{
    transform: scale(1);
    transition: all .2s ease;
    cursor: pointer;
}
.svg-mexico:hover{
    transform: scale(1.2);
}