// 
// Slider
// 

.img-fill {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.img-fill img {
  min-height: 100%;
  min-width: 500px;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}
.modern-slider{

  .slick-slide {
    float: left;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // flex: 0 0 calc(10.333% - 10px);
    // flex: 1 0 50vw;
    /* Ajusta el ancho de los slides según la cantidad de slides que deseas mostrar y el espacio entre ellos */
    margin: 0 25px;
    /* Espacio entre los slides */
    box-sizing: border-box;
    /* Otros estilos para los slides */
  }


  /* ==== Slider Style === */
    .slick-arrow{
      position: absolute;
      top: 30%;
      width: 32px;
      height: 52px;
      border: 0 none;
      cursor: pointer;
      z-index: 5;
      background: none;

      img{
        width: 100%;
        height: 100%;
      }
      @media (max-width:768px) {
        top: 3%;
        width: 25px;
        height: 31px;
      }
    }
    .next-arrow {
      right: 31%;
      @media (max-width: 768px) {
        right: 1vw;
      }
    }
    .prev-arrow {
      left: 31%;
      @media (max-width: 768px) {
        left: 1vw;
      }
    }
  
    .item {
      h4 {
        font-family: 'NexaExtraLight';
        color: #3E7578;
        animation: fadeOutRight 1s both;
        margin: 0;
        padding: 0;
        font-size: clamp(35px, 4.5vw, 60px);
        line-height: 1;
      }
  
      h5 {
        margin: 0;
        padding: 0;
        font-family: 'NexaExtraLight';
        color: #2C3947;
        max-width: 600px;
        overflow: hidden;
        max-width: 430px;
        animation: fadeOutLeft 1s both;
        font-size: clamp(16px, 2.2vw, 20px);
        line-height: 26px;
        margin: clamp(20px, 8vw, 60px) auto;
        // margin-top: 40px;
        text-align: center;
      }
  
      a {
        text-align: center;
        // color: $green;
        font-family: 'NexaHeavy';
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        transition: background-color .2s ease;
        color: $dark-green;
        cursor:default ;


          &:hover,&:active{
            color: $dark-green;
        }
      }
    }
  }
  
  
  .slick-initialized.slick-slider {
    .slick-active {
      opacity: 0.2;
      transition: all 300ms ease;
  
      &.slick-current {
        opacity: 1;
        transition: all 300ms ease;
      }
    }
  }

