@keyframes bounceIn {
    from{
      transform: scale3d(1.1, 1.4, 1.1) ;
    }
    
    to {
        transform: scale3d(2, 2, 2);
    }
  }
  
  .bounceIn {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: bounceIn;
  }
  

  @keyframes pulse {
    from {
      transform: scale3d(2, 2, 2);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes dropdownOpen {
    from,
    0%,
    50%,
    to{}

    0%{
        z-index: -1;
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        z-index: 1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
    }
  }
  @keyframes dropdownClose {
    from,
    0%,
    80%,
    to{}
    
    0%{
        position: relative;
        transform: translateY(0);
        z-index: 1;
        opacity: 1;
    }
    80%{
        position: relative;
        transform: translateY(-100%);
        opacity: 0;
        transition: all .4s ease-in-out;
    }
    to {
        z-index: -1;
        position: absolute;

    }
}
