
@font-face {
    font-family: "NexaBook";
    src:
      local("NexaBook"),
      url("../fonts/Nexa-Book.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaSlabBold";
    src:
      local("NexaSlabBold"),
      url("../fonts/NexaSlab-Trial-Bold.woff") format("opentype");
  }
  @font-face {
    font-family: "NexaExtraLight";
    src:
      local("NexaExtraLight"),
      url("../fonts/Nexa-ExtraLight.ttf") format("opentype");
  }
  @font-face {
    font-family: "NexaLight";
    src:
      local("NexaLight"),
      url("../fonts/Nexa-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaRegular";
    src:
      local("NexaRegular"),
      url("../fonts/NexaRegular.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaBold";
    src:
      local("NexaBold"),
      url("../fonts/Nexa-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaBlack";
    src:
      local("NexaBlack"),
      url("../fonts/NexaBlack.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaHeavy";
    src:
      local("NexaHeavy"),
      url("../fonts/NexaHeavy.otf") format("opentype");
  }

  @font-face {
    font-family: "NexaSlabBook";
    src:
      local("NexaSlabBook"),
      url("../fonts/NexaSlab-Book.otf") format("opentype");
  }
  @font-face {
    font-family: "NexaSlabBlack";
    src:
      local("NexaSlabBlack"),
      url("../fonts/NexaSlabBlack.otf") format("opentype");
  }

  @font-face {
    font-family: "NexaSlabxBold";
    src:
      local("NexaSlabxBold"),
      url("../fonts/NexaSlab-xBold.otf") format("opentype");
  }
  


/* vars */

$white: #fff;
$green: #93C01F;
$dark-green: #3E7578;

/* reset */

ul{
    padding:0px;
}
li{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    transition:all 1s;
    font-size:10px;
}

html{
    transition:all 1s;
}

/* Buttons */

.btn{
    padding:10px 20px;
}

.container{
    margin:0 auto;
    max-width:1280px;
}

nav{
    height:140px;
    padding:0 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) -9%, rgba(0, 0, 0, 1) 154%);
    ul{
        display:flex;
       
        li{
            padding:0 24px;
            display: flex;
            align-items: center;
            font-family: 'NexaBold';
           
            a{
                display:flex;
                color: $white;
                mix-blend-mode: difference;
                text-decoration: none;
                font-size: 22px;
                
                &.btn{
                    background:$green;
                    color:$white;
                    border-radius:30px;
                }
            }
            
        } 
    }
    &.hide{
        opacity:0;
        transition: opacity 0.5s ease;
    }
}

.hamburguer{
    position: fixed;
    opacity: 1;
    z-index: 1;
    width:100%;
    display:Flex;
    height:140px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) -9%, rgba(0, 0, 0, 1) 154%);
    &.hide{
        opacity:0;
       transition: opacity 0.5s ease;
    }
    .hamb-close-logo{
        position: absolute;
        right: 0;
        right: 84px;
    top: 57px;
    }
    .menu-close-logo{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 40%);
    }
}




#one{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
    background: teal;
    height: 150vh;
    background: url('../img/foto_edificios.jpg') ;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    position: relative;
    background-color: #000;
    &.fullwidth-container {
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    h1{
        text-align: center;
        color:$white;
        font-size: 60px;
        font-family: 'NexaBook';
         width: max-content;
        transition: opacity 0.5s ease;
        @media (max-width: 1253px) {
            font-size: 1.2em; /* Tamaño de fuente para pantallas más pequeñas */
        }
        strong{
            display:block;
            font-size: 100px;
            font-family: 'NexaSlabxBold';
            @media (max-width: 1253px) {
                font-size: 1.2em; /* Tamaño de fuente para pantallas más pequeñas */
            }
        }
        &.scroll-transition {
            position: absolute;
            bottom: 87px;
            transition: none;
            top: auto;
          }
        
    }
}


#two{
    padding:210px 0 0;
    height:880px;
    background:$white;
    h3{
        text-align:center;
        font-size: 32px;
        font-family: 'NexaBlack';
        margin-bottom: 73px;
    }
    .partners{
        .opt{
            display:none;
            h3{
                font-size: 70px;
                color:#2C3947;
                font-family: 'NexaBook';
                margin-bottom:28px;
            }
            p{
                font-size: 20px;
                color:#2C3947;
                font-family: 'NexaBook';
                max-width:722px;
                text-align:center;
                margin:0 auto;
            }
            a{
                text-align: center;
                display:block;
                margin-top: 90px;
                color:$green;
                font-family: 'NexaHeavy';
                font-size: 20px;
                text-decoration: none;
            }
        }
        ul{
            margin:0 auto;
            display:flex;
            align-items: center;
            justify-content: center;
            li{
                font-size: 18px;
                font-family: 'NexaBold';
                color: $dark-green;
                width: auto;
                text-align: center;
                padding: 10px 20px; 
                cursor:pointer;
                &:hover{
                    color:$dark-green
                }
            ul li + li {
                margin-left: -10px; 
            }
           
                &.active{
                    background:$green;
                    border-radius: 30px;
                    color: $white;
                }
                &:hover{
                    background: rgb(62 117 120 / 50%);
                    border-radius: 30px;
                    color: $dark-green;
                    &.active{
                        background:$green;
                    border-radius: 30px;
                    color: $white;
                    }
                }
                span{
                    width:152px;
                    display:block;
                    font-family: 'NexaBold';
                }
                &:nth-child(2){
                    margin:0 120px;
                }
            }
        }
    }
    
}

#three{
    height:1272px;
    background: url('../img/foto_globos.jpg');
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    h3{
        font-size: 50px;
        font-family: 'NexaLight';
        text-align:center;
        color:$white;
        strong{
            display:block;
            font-family: 'NexaSlabBlack';
        }
    }
    a.btn{
        font-size: 20px;
        font-family: 'NexaBold';
        color:$white;
        padding:20px;
        text-decoration: none;
        background-color: $green;
        border-radius:30px;
        display:table;
        margin: 0 auto;
    }
}

#four{
    background:#F2F2F2;
    padding:184px 0;
    h3{
        font-size: 32px;
        font-family: 'NexaBlack';
        text-align:center;
        margin-bottom:112px;
    }
    a{
        text-align: center;
        display:block;
        margin-top: 90px;
        color:$green;
        font-family: 'NexaHeavy';
        font-size: 20px;
        text-decoration: none;
    }
    .servicios-boxes{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        color:$green;
        
        font-family: 'NexaSlabBook';
        text-align:center;
        line-height: 48px;
        .box{
            max-width:392px;
            font-size: 60px;
            span{
                color:$dark-green;
                display:block;
                font-family: 'NexaLight';
                font-size: 50px;
                max-width: 352px;
                margin: 0 auto;
            }
            p{
                font-size: 24px;
                color:#2C3947;
                font-family: 'NexaRegular';
                padding: 0px 40px;
                line-height: 26px;
            }
        }
    }
}

#five{
   padding-top:129px; 
   padding:109px 76px;
   height:880px;
   position:relative;
   background-color:$white;
   h3{
    font-size: 32px;
    font-family: 'NexaBlack';
    text-align:center;
    margin-bottom:112px;
    }
    .img-insights{
        position:absolute;
        right:0;
        top:120px;
    }
    .left{
        max-width:644px;
        h4{
            font-size: 60px;
            line-height: 60px;
            font-family: "NexaExtraLight";
            margin-bottom: 20px;
            color:#2C3947;
            strong{
                font-family: 'NexaHeavy';
            }
        }
        p{
            font-family: 'NexaRegular';
            font-size: 24px;
        }
        a{
            text-align: left;
            display:block;
            margin-top: 40px;
            color:$green;
            font-family: 'NexaHeavy';
            font-size: 20px;
            text-decoration: none;
        }
    }
}

#six{
    height:880px;
    background:#F2F2F2;
    padding:130px 0 0;
    h3{
        font-size: 32px;
    font-family: 'NexaBlack';
    text-align:center;
    margin-bottom:112px;
    }
}



#form{
    height:880px;
    background:#2C3947;
    color:$white;
    padding:170px;
    h3{
        font-size: 32px;
        font-family: 'NexaHeavy';
        text-align:center;
        margin-bottom:112px;
    }
    form{
        text-align: center;
        font-family: 'NexaExtraLight';
        font-size: 30px;
        input{
            font-size: 30px;
            font-weight: 400;
            line-height: 1.5;
            color: #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            background-clip: padding-box;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid white;
            border-left: none;
            max-width:180px;
            &:focus-visible{
                outline:none;
            }
            
        }
        input[type="checkbox"]::-ms-check {
            display: none;
        }
        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 20px;
            width: 20px;
            border: 3px solid silver;
        }
        
        input[type="checkbox"]:checked {
            background-image: url(../img/check1.png);
            background-size: cover;
        }
        select{
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid white;
            border-left: none;
            width: 13rem;
            outline:none;
            text-decoration: underline;
            color:$white;
            font-size: 30px;
            text-decoration:none;
            appearance: none;
            padding: 0.375rem 2.25rem 0.375rem 0.75rem;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            border:none;
            text-decoration: underline;
            }
        .terminos {
            margin-top:40px;
            label{
                display:flex;
                align-items: center;
                justify-content: center;
                span{
                    font-size: 15px;
                    color:#CCCCCC;
                    margin-left:10px;
                }
            }

        }
        input.btn{
            margin-top:40px;
            color:$white;
            background:$green;
            text-decoration: none;
            border-radius: 40px;
            border:none;
            font-size: 20px;
            width:275px;
            font-family: 'nexaheavy';
        }
    }
}


footer{
    background:$white;
    padding:80px 62px;

 .footer-container{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:10px;
    @media(max-width:768px){
        grid-template-columns:1fr;
    }
 }
 .footer-column{
    padding:20px;
    text-align:left;
    li{
        font-family: 'NexaExtraLight';
        font-size: 16px;
        color:#3F7679;
        padding-bottom:20px;
        &.title{
            font-family: 'NexaHeavy';
        }
        
    }
    &.last{
        width: 325px;
        text-align: right;
        .direccion{
            font-family: 'NexaHeavy';
        }
        .mail{
            font-family: 'NexaHeavy';
        }
        .redes img{
            margin-left:24px;
        }
    }
 }
}












/* slider */

/* ==== Main CSS === */
.img-fill{
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .img-fill img {
    min-height: 100%;
    min-width: 500px;
    position: relative;
    display: inline-block;
    max-width: none;
  }
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
  .slick-slide {
    float: left;
    margin:0 40px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex: 0 0 calc(10.333% - 10px); /* Ajusta el ancho de los slides según la cantidad de slides que deseas mostrar y el espacio entre ellos */
    margin: 0 5px; /* Espacio entre los slides */
    box-sizing: border-box;
    /* Otros estilos para los slides */
  }
  
  /* ==== Slider Style === */
  .modern-slider {
    .item {
      .img-fill {
        height: 288px;
  
        .info {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          line-height: 100vh;
          text-align: center;
        }
  
        img {
          filter: blur(5px);
        }
      }
  
      .info > div {
        vertical-align: middle;
        display: flex;
        flex-direction: column;
      }
    }
  
    .next-arrow {
      position: absolute;
      top: 50%;
      right: 0px;
      width: 45px;
      height: 45px;
      border: 0 none;
      margin-top: -22.5px;
      text-align: center;
      cursor: pointer;
      font: 20px/45px FontAwesome;
      z-index: 5;
      right: 30%;
      background: none;
      &:before {
        content: url(../img/arrow-right.svg);
      }
    }
  
    .prev-arrow {
      position: absolute;
      top: 50%;
      left: 0px;
      width: 45px;
      height: 45px;
      border: 0 none;
      margin-top: -22.5px;
      text-align: center;
      font: 20px/45px FontAwesome;
      z-index: 5;
      cursor: pointer;
      left: 30%;
      background: none;
      &:before {
        content: url(../img/arrow-left.svg);
      }
    }
  
    .item {
      h4 {
        font-family: 'NexaExtraLight';
        color: #3E7578;
        animation: fadeOutRight 1s both;
        margin: 0;
        padding: 0;
        font-size: 60px;
        line-height: 65px;
      }
  
      h5 {
        margin: 0;
        padding: 0;
        font-family: 'NexaExtraLight';
        color: #2C3947;
        max-width: 600px;
        overflow: hidden;
        max-width: 430px;
        animation: fadeOutLeft 1s both;
        font-size: 20px;
        line-height: 26px;
        margin:0 auto;
        margin-top: 40px;
        text-align: center;
      }
      a{
        text-align: center;
        margin-top: 60px;
        color:$green;
        font-family: 'NexaHeavy';
        font-size: 20px;
        line-height:20px;
        text-decoration: none;
      }
    }
  }
  

  .slick-initialized.slick-slider{
    .slick-active{
        opacity: 0.2;
        transition: all 300ms ease;
        &.slick-current{
            opacity: 1;
            transition: all 300ms ease;
        }
    }

  }

  /* fin slider */ 






/* prueba animacion fade in */

.item {
    opacity: 1;
    transition: opacity 3s ease; /* Controla la velocidad de la transición */
  }
  
  .item.show {
    opacity: 1;
  }
  



  /* fade in */

  .fade-in-el {
    opacity: 0;
    transform: translateY(20px); /* Movimiento inicial desde abajo hacia arriba */
    transition: opacity 1s ease, transform 1s ease; /* Controla la velocidad de la transición */
  }
  
  .fade-in-el.show {
    opacity: 1;
    transform: translateY(0); /* Movimiento final hasta la posición original */
  }


.slow {
    transition-delay: 0.5s; /* Retrasa la transición en 0.5 segundos */
  }
  
  .medium {
    transition-delay: 1s; /* Retrasa la transición en 1 segundo */
  }
  
  .fast {
    transition-delay: 0.2s; /* Retrasa la transición en 0.2 segundos */
  }
  