#us_equipo.bg-foro{
    background-image: url('../img/bg-foro.png');
    @media (max-width:786px) {
            background-image: url('../img/bg-foro-mob.png');
        }

        h2{
            color: #fff;
            font-family: 'NexaBook', sans-serif;
            font-size: clamp(22px, 3.4vw, 40px);
            font-weight: 300;
            margin: 0 20px;
            text-align: center;
        }
}

.dialogo-section{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background-color: #fff;

    &__title{
        font-family: 'NexaBook', sans-serif;
        font-size: clamp(25px, 3.5vw, 40px);
        text-align: center;
        color: #2C3947;
        margin-bottom: 50px;
        
        strong{
            display: block;
            color: #3E7578;
            font-family: 'NexaSlabBlack', sans-serif;
            font-size: clamp(40px, 4vw, 50px);
        }
    }
    &__dialog-icons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img{
            width: 70%;
            max-width: 190px;
        }
        &--right-img{
            position: relative;
            right: -35px;
            z-index: 2;
        }
        &--left-img{
            margin-top: 49px;
            position: relative;
            left: -35px;
        }
    }
}

.foro-abeceb-2024{
    background-color: #F2F2F2;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 42px;

        @media (max-width:768px) {
            align-items: center;
            flex-direction: column;
        }

        &--box-1{
            order: 1;
            flex: 1 0 30%;
            
            @media (max-width: 768px) {
                order: 2;
            }
            img{
                width: 100%;
                max-width: 300px;
            }
        }
        &--box-2{
            order: 2;
            flex: 1 0 65%;
            text-align: left;

            @media (max-width: 768px) {
                text-align: center;
                order: 1;
            }

            h6{
                font-size: clamp(25px, 3vw, 35px);
                font-family: 'NexaRegular', sans-serif;
                margin: 0;
                margin-bottom: 25px;
                color: $dark-green;

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }
            }
            h5{
                font-size: clamp(33px, 4vw, 45px);
                font-family: 'NexaHeavy', sans-serif;
                margin: 0;
                margin-bottom: 25px;
                color: $black-typo;

                @media (max-width: 768px) {
                    margin-bottom: 23px;
                }
            }
            p{
                font-size: clamp(18px, 2.2vw, 25px);
                font-family: 'NexaBook', sans-serif;
                margin: 0;
                color: $dark-green;
                margin-bottom: 15px;

                strong{
                    display: block;
                    font-family: 'NexaHeavy', sans-serif;
                }
            }
        }
    }
    &__content{
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;

        &--p1{
            font-family: 'NexaRegular', sans-serif;
            font-size: clamp(18px, 2vw, 20px);
            color: $black-typo;
            margin-bottom: 65px;
            text-align: left;
            
            @media (max-width: 768px) {
                text-align: center;
                margin-bottom: 44px;
            }
            
            strong{
                font-family: 'NexaHeavy', sans-serif;
            }
        }
        &--p2{
            font-family: 'NexaRegular', sans-serif;
            font-size: clamp(20px, 2.4vw, 25px);
            color: $black-typo;
            margin-bottom: 35px;
            text-align: center;
        }
        &--cta{
            font-size: clamp(18px, 2vw, 20px);
            font-family: 'NexaBold', sans-serif;
            color: $white;
            padding: 20px;
            text-decoration: none;
            background-color: $green;
            border-radius: 30px;
            display: table;
            margin: 0 auto;
            text-align: center;
            width: clamp(280px, 100%, 340px);
            transition: background-color .2s ease;
    
            &:hover,
            &:active {
                background-color: $dark-green;
            }
        }
        &--calendar{
            margin: 80px auto 60px auto;
            width: 100%;
            max-width: 520px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(17px, 3vw, 30px);

            @media (max-width:768px) {
                flex-direction: column;
                // align-items: center;
                justify-content: center;
            }

            div:nth-child(1){
                flex: 1 0 0;
                max-width: 118px;
    
                img{
                    width: 100%;
                }
            }
            div:nth-child(2){
                flex: 1 0 0;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;

    
                @media (max-width:768px) {
                    text-align: center;
                }

                h6{
                    margin: 0;
                    margin-bottom: 10px;
                    font-size: clamp(30px, 3.3vw, 35px);
                    font-family: 'NexaSlabBlack', sans-serif;
                    color: #2C3947;
                    line-height: 1;
                }
                p{
                    margin: 0;
                    color: #3E7578;
                    font-family: 'NexaRegular', sans-serif;
                    font-size: clamp(18px, 2vw, 20px);
                    line-height: 1;       
                }
                p:nth-child(3){
                    font-family: 'NexaHeavy', sans-serif;
                    color: #2C3947;
                    font-size: clamp(25px, 3vw, 30px);
                    margin-bottom: 3px;
                }
                p:nth-child(4){
                    margin: 0;
                    font-family: 'NexaHeavy', sans-serif;
                    color: #65B3AD;
                    font-size: clamp(20px, 2.3vw, 25px);
                }
            }
        }
        // &--calendar-img{
        //     flex: 1 0 0;
        //     max-width: 118px;

        //     img{
        //         width: 100%;
        //     }
        // }
        // &--calendar-text-box{
        //     flex: 1 0 0;
        //     text-align: left;

        //     @media (max-width:768px) {
        //         text-align: center;
        //     }
        // }
        // &--calendar-title{
        //     margin: 0;
        //     margin-bottom: 15px;
        //     font-size: clamp(30px, 3.3vw, 35px);
        //     font-family: 'NexaSlabBlack', sans-serif;
        //     color: #2C3947;
        // }
        // &--calendar-p1{
        //     margin: 0;
        //     color: #3E7578;
        //     font-family: 'NexaRegular', sans-serif;
        //     font-size: clamp(18px, 2vw, 20px);
            
        // }
        // &--calendar-p2{
        //     margin: 0;
        //     font-family: 'NexaHeavy', sans-serif;
        //     color: #2C3947;
        //     font-size: clamp(25px, 3vw, 30px);
            
        // }
        // &--calendar-p3{
        //     margin: 0;
        //     font-family: 'NexaHeavy', sans-serif;
        //     color: #65B3AD;
        //     font-size: clamp(20px, 2.3vw, 25px);

        // }
    }
}

.sponsor-section{
    position: relative;
    width: 100%;
    background-color: $dark-green;
    padding: 100px 0px;
    padding-bottom: 268px;
    height: 100%;
    min-height: 100vh;
    color: #fff;

    @media (max-width: 768px) {
        padding: 60px 0px;
    }

    &__title{
        text-align: center;
        font-size: 32px;
        font-family: 'NexaBlack', sans-serif;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 32px;
        }
    }
    &__subtitle{
        font-family: 'NexaLight', sans-serif;
        padding: 0 20px;
        text-align: center;
        font-size: clamp(28px, 3.5vw, 40px);
        margin-bottom: 20px;
        
        strong{
            font-family: 'NexaBlack', sans-serif;
            font-size: 40px;
            
            @media (max-width: 768px) {
                display: block;
            }
        }
    }
    form{
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
    }
    &__ilustration{
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.foros-section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background-color: #fff;
    position: relative;
    
    &__h6{
        font-size: 32px;
        font-family: 'NexaBlack', sans-serif;
        color: $black-typo;
        margin: 0;
        text-align: center;
        margin-bottom: 65px;
        padding: 0 20px;

        @media (max-width: 768px) {
            margin-bottom: 35px;
        }
    }
    &__h5{
        font-size: 35px;
        font-family: 'NexaBook', sans-serif;
        color: $black-typo;
        margin: 0;
        text-align: center;
        padding: 0 20px;
    }
    &__h4{
        margin: 0;
        text-align: center;
        font-size: clamp(50px, 5.5vw, 60px);
        font-family: 'NexaRegular', sans-serif;
        color: $dark-green;
        padding: 0 20px;
    }
    &__p{
        font-family: 'NexaRegular', sans-serif;
        font-size: clamp(18px, 2vw, 20px);
        color: $black-typo;
        text-align: center;
        margin: 26px auto;
        margin-bottom: 30px;
        padding: 0 20px;
    }
    &__counter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        gap: clamp(5px, 3vw, 74px);
        padding: 0 10px;

        @media (max-width:768px) {
            gap: 3px;
        }

        &--box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: clamp(108px, 25vw, 251px);
            height: clamp(108px, 25vw, 251px);
            border-radius: 50%;
            font-family: 'NexaBook', sans-serif;
            font-size: clamp(12px, 2.5vw, 32px);
            color: #fff;
            
            strong{
                font-family: 'NexaHeavy', sans-serif;
                display: block;
                font-size: clamp(12px, 3vw, 35px);
            }
            span{
                font-family: 'NexaHeavy', sans-serif;
                font-size: clamp(35px, 5vw, 70px);
                display: block;
                line-height: 1;
                margin: 4px 0;
                margin-bottom: 2px;
            }
        }

        &--box-1{
            background-color: $black-typo;
        }
        &--box-2{
            background-color: #65B3AD;
        }
        &--box-3{
            background-color: $dark-green;
        }
    }
}
.resumen-foro-section{
    background-color: #f2f2f2;
    padding: clamp(50px, 8vw, 150px) 20px;
    height: 100%;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(45px, 6vw, 96px);

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }

    &__box{
        text-align: center;
        max-width: 400px;

        &--img{
            width: clamp(280px, 25vw, 350px);
        }
        &--title{
            font-size: 35px;
            font-family: 'NexaHeavy', sans-serif;
            color: $black-typo;
            text-align: center;
            margin-top: clamp(30px, 4.5vw, 50px);
            margin-bottom: 15px;
        }
        &--p{
            font-family: 'NexaBook', sans-serif;
            font-size: 18px;
            color: $dark-green;
            margin-top: 0;
            margin-bottom: 38px;

            strong{
                font-size: 22px;
                display: block;
                font-family: 'NexaBlack', sans-serif;
            }
        }
        &--cta{
            text-align: center;
            display: block;
            width: fit-content;
            color: $green;
            font-family: 'NexaHeavy';
            font-size: 20px;
            text-decoration: none;
            transition: all .2s ease;
            margin: 0 auto;

            &:hover,&:active{
                color: $dark-green;
            }
        }
    }

}