#us_equipo.bg-insights{
    background-image: linear-gradient(to bottom, #023a3a9b, #023a3a9b), url(../img/bg-insights.png);
    @media (max-width:786px) {
            background-image: linear-gradient(to bottom, #023a3a9b, #023a3a9b), url(../img/bg-insights-mob.png);
        }

        h2{
            color: #fff;
            font-family: 'NexaBook';
            font-size: clamp(22px, 3.4vw, 40px);
            font-weight: 300;
            margin: 0 20px;
            text-align: center;
        }
        hr{
            display: block;
            width: 100%;
            border: none;
            height: 1px;
            margin: 15px auto;
            background-color: #fff;

            @media (max-width:768px) {
                width: 93%;
            }

        }

        h3{
            color: #fff;
            font-family: 'NexaBook';
            font-weight: 300;
            font-size: clamp(18px, 2.4vw, 25px);
            margin: 0 20px;
            text-align: center;

            @media (max-width:500px) {
                br{
                    display: none;
                }
            }
        }
}
.section-informes{
    height: auto;
    width: 100%;
    padding: clamp(45px, 4vw, 72px) 0;


    &__title{
        font-family: 'NexaBlack';
        color: $black-typo;
        font-size: clamp(28px, 3vw, 32px);
        text-align: center;
        margin: 0 auto;
        margin-bottom: clamp(45px, 4vw, 72px);
    }

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;

        @media (max-width:1000px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &--left{
            flex: 1 0 48%;
            height: auto;
            background-image: url(../img/insights-informes.png);
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            padding-left: clamp(20px, 3vw, 60px);
            padding-top: 40px;
            display: block;


            @media (max-width:1000px) {
                width: 90%;
                padding-right: 90px;
                max-width: 600px;
                display: flex;
                height: 350px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
            }

            h5{
                font-family: 'NexaBook';
                font-weight: 300;
                font-size: clamp(22px, 2.5vw, 30px);
                margin: 0;
                margin-bottom: 20px;
                text-align: left;
                color: #fff;
                
                @media (max-width:1000px) {
                    margin-bottom: 30px;
                }
            }
            div{
                h4{
                    font-family: 'NexaHeavy';
                    font-size: clamp(30px, 3vw, 40px);
                    text-align: left;
                    color: #fff;
                    line-height: 1;
                    margin: 0 auto;
                    margin-bottom: 40px;

                    @media (max-width:1000px) {
                        margin-bottom: 10px;
                    }
                }
                p{
                    font-family: 'NexaBook';
                    font-size: clamp(20px, 2.3vw, 25px);
                    color: $dark-green;
                }
            }
            a{
                text-align: left;
                display: block;
                width: fit-content;
                margin-top: clamp(52px, 5vw, 61px);
                color: $green;
                font-family: 'NexaHeavy';
                font-size: 20px;
                text-decoration: none;
                transition: all .2s ease;
                margin-bottom: 50px;

                &:hover,&:active{
                    color: $dark-green;
                }
            }
        }
        &--right{
            flex: 1 0 48%;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width:1000px) {
                width: 100%;
                padding: 0 20px;
            }
            hr{
                height: 1px;
                border: none;
                background-color: #cccc;
                width: 100%;
            }
            h6{
                font-family: 'NexaHeavy';
                font-size: clamp(22px, 2.3vw, 25px);
                text-align: left;
                color: $dark-green;
                line-height: 1;
                margin-bottom: 0;
                margin-top: 33px;
            }
            p{
                font-family: 'NexaBook';
                font-size: clamp(16px, 1.9vw, 18px);
                color: $dark-green;
            }
            a{
                text-align: left;
                display: block;
                width: fit-content;
                color: $green;
                font-family: 'NexaHeavy';
                font-size: 20px;
                text-decoration: none;
                transition: all .2s ease;
                margin-top: 24px;
                margin-bottom: 35px;

                &:hover,&:active{
                    color: $dark-green;
                }
            }

        }
    }
}

.section-casos-de-exito{
    height: 100%;
    // max-height: 880px;
    width: 100%;
    padding: clamp(45px, 4vw, 72px) 20px;
    background-color: #f2f2f2;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    &__title{
        font-family: 'NexaBlack';
        color: $black-typo;
        font-size: clamp(28px, 3vw, 32px);
        text-align: center;
        margin: 0 auto;
        margin-bottom: clamp(45px, 4vw, 72px);
    }
    &__box{
        display: flex;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        justify-content: center;
        align-items: center;

        @media (max-width:1000px) {
            flex-direction: column;
            padding: 0 20px;

        }

        &--img{
            flex: 1 0 350px;
            @media (max-width:1000px) {
                text-align: center;
            }

            img{
                width: 100%;
            }
        }
        &--text{
            flex: 1 0 70%;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @media (max-width:1000px) {
                padding-left: 0;
                align-items: center;
            }

            img{
                width: 142px;
            }
            h6{
                font-family: 'NexaHeavy';
                font-size: clamp(28px, 4.5vw, 50px);
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: left;
                color: $black-typo;

                @media (max-width:1000px) {
                    text-align: center;
                }
            }
            p{
                font-family: 'NexaBook';
                font-size: 20px;
                color: $dark-green;
                text-align: left;
                margin: 0;
                @media (max-width:1000px) {
                    text-align: center;
                }
            }
            a{
                text-align: left;
                display: block;
                width: fit-content;
                color: $green;
                font-family: 'NexaHeavy';
                font-size: 20px;
                text-decoration: none;
                transition: all .2s ease;
                margin-top: 30px;
                @media (max-width:1000px) {
                    margin: 0 auto;
                    margin-top: 30px;
                }

                &:hover,&:active{
                    color: $dark-green;
                }
            }
        }
    }
    &__p{
        width: 100%;
        max-width: 1000px;
        font-family: 'NexaBold';
        font-weight: 700;
        font-size: clamp(20px, 2.2vw, 25px);
        margin: 0 auto;
        margin-top: clamp(50px, 6vw, 80px);
        margin-bottom: clamp(66px, 8vw, 100px);
        line-height: 1.2;
    }
    &__data-project{
        margin: 0 auto;
        width: 100%;
        max-width: 1050px;
        padding: 0;

        &--item{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: clamp(15px, 4vw, 58px);
            padding: 50px 0;

            @media (max-width:768px) {
                flex-direction: column;
            }
        }
        &--item-title{
            flex: 1 0 30%;
            margin: 0;
            text-align: right;
            font-family: 'NexaSlabBook';
            font-weight: 600;
            font-size: clamp(35px, 3.4vw, 40px);
            color: #65B3AD;
            
            @media (max-width:768px) {
                text-align: left;
            }

        }
        &--item-content{
            flex: 1 0 60%;

            p{
                text-align: left;
                font-family: 'NexaRegular';
                font-size: clamp(15px, 1.8vw, 18px);
                color: $black-typo;
                margin: 0;
                margin-bottom: 15px;
                color: #2C3947;

                strong{
                    font-family: 'NexaHeavy';
                }
            }
        }
        hr{
            display: block;
            width: 100%;
            height: 1px;
            border: none;
            margin: 0;
            background-color: #cccc;
        }
    }
    &__note{
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        background-color: #ffffff;
        padding: 50px 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        @media (max-width:768px) {
            padding: 24px 0px 40px 0px;
        }

        &--p{
            font-family: 'NexaThinItalic';
            font-size: clamp(20px, 2.4vw, 25px);
            color: $dark-green;
            text-align: center;
            margin: 0;
            margin-bottom: 40px;

            @media (max-width:768px) {
                margin-bottom: 20px;
            }

            strong{
                font-family: 'NexaHeavyItalic';
            }
        }
        &--img{
            width: 80px;
        }
        &--name{
            margin: 0;
            margin-top: 10px;
            color: $black-typo;
            font-family: 'NexaRegular';
            font-size: 20px;
        }
        &--job{
            margin: 0;
            margin-top: 5px;
            color: $dark-green;
            font-family: 'NexaRegular';
            font-size: 16px;
        }
    }
}