.terms-and-conditions{
    width: 100%;
    height: auto;
    padding: clamp(40px, 6vw, 80px) 20px;
    background-color: #ccc;

    h3{
        color: $black-typo;
        font-size: clamp(30px, 4vw, 50px);
        font-family: 'NexaBlack';
        text-align: center;
        margin-bottom: clamp(52px, 6vw, 112px);
    }
    ol{
        li{
            color: $dark-green;
            font-family: 'NexaRegular';
            font-size: clamp(14px, 2vw, 20px);
            list-style: decimal;
        }
    }

}