// 
// Typography
// 

@font-face {
    font-family: "NexaBook";
    src: local("NexaBook"), url("../fonts/Nexa-Book.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBold";
    src:
        local("NexaSlabBold"),
        url("../fonts/NexaSlab-Trial-Bold.woff") format("opentype");
}

@font-face {
    font-family: "NexaExtraLight";
    src:
        local("NexaExtraLight"),
        url("../fonts/Nexa-ExtraLight.ttf") format("opentype");
}

@font-face {
    font-family: "NexaLight";
    src:
        local("NexaLight"),
        url("../fonts/Nexa-Light.otf") format("opentype");
}

@font-face {
    font-family: "NexaRegular";
    src:
        local("NexaRegular"),
        url("../fonts/NexaRegular.otf") format("opentype");
}

@font-face {
    font-family: "NexaBold";
    src:
        local("NexaBold"),
        url("../fonts/Nexa-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NexaBlack";
    src:
        local("NexaBlack"),
        url("../fonts/NexaBlack.otf") format("opentype");
}

@font-face {
    font-family: "NexaHeavy";
    src:
        local("NexaHeavy"),
        url("../fonts/NexaHeavy.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBook";
    src:
        local("NexaSlabBook"),
        url("../fonts/NexaSlab-Book.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabBlack";
    src:
        local("NexaSlabBlack"),
        url("../fonts/NexaSlabBlack.otf") format("opentype");
}

@font-face {
    font-family: "NexaSlabxBold";
    src:
        local("NexaSlabxBold"),
        url("../fonts/NexaSlab-xBold.otf") format("opentype");
}